<div id="sidebar">
	<ul>
		{{#each hierarchy}}
				<li>{{@key}}</li>
				<ul>
				{{#each this}}
					<li>
						<a href="{{this}}">
							{{@key}}
						</a>
					</li>
				{{/each}}
			</ul>
		{{/each}}
	</ul>
</div>