body {
  font-family: "Open Sans", sans-serif; }
  body #topbar {
    width: 100%; }
  body #main {
    display: flex; }
    body #main #sidebar {
      flex: 0 0 250px; }
    body #main #page {
      flex: 1; }
      body #main #page #description {
        background-color: #f9f9f9;
        padding: 20px;
        margin-bottom: 30px; }
        body #main #page #description #title {
          font-size: 1.1em;
          margin-bottom: 30px;
          color: #616161;
          font-family: "Roboto", sans-serif; }
        body #main #page #description p {
          margin-bottom: 5px; }
        body #main #page #description #references {
          font-size: 0.9em;
          margin-top: 30px;
          color: #616161;
          font-family: "Open Sans", sans-serif; }
          body #main #page #description #references ul {
            margin: 5px;
            padding-left: 20px;
            list-style-type: none; }
            body #main #page #description #references ul a {
              color: inherit; }
      body #main #page #content {
        display: block;
        width: 320px;
        margin: 0px auto; }
