:host {
	display: block;
}

#container {
	display: block;
	margin-bottom: 10px;
	position: relative;

	label {
		font-family: var(--label-font-family);
		font-size: var(--label-font-size);
		margin-right: 5px;
		font-size: 0.7em;
	}
	
	select, label {
		display: inline-block;
	}
		
	#light {
		width: 10px;
		height: 10px;
		background-color: white;
		display: inline-block;
		&.connected {
			background-color: var(--color-gray);
		}
		
		&.connected.flash {
			background-color: black!important;
		}
	}
}

